<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" UpgradeCode="02568820-bb6a-47ec-a6f5-892221bcbc43" Version="1.0.0.0" Language="1033" Name="YourAppName" Manufacturer="YourCompany">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<?define AppProgramsFolder="ApplicationProgramsFolder" ?>
		
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="YourAppName">
					<Component Id="YourAppExe" Guid="82365f40-effc-4393-8c86-1384c7dceaf6">
						<RegistryValue Root="HKCU" Key="Software\YourAppName" Name="IsInstalled" Type="integer" Value="1" KeyPath="yes" />
						<RemoveFolder Id="INSTALLFOLDER" On="uninstall"/>
						<File Id="YourAppExeFile" Source="..\..\link\build\windows\runner\Release\link.exe">
							<Shortcut Id="startmenuShortcut" Directory="ProgramMenuFolder" Name="Your App Name" WorkingDirectory='INSTALLFOLDER' />
						</File>
					</Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="YourAppName">
					<Component Id="RemoveApplicationProgramsFolder" Guid="aeaf57e4-2326-4f5b-b853-b873983abe1a">
						<RegistryValue Root="HKCU"
									   Key="Software\YourAppName\StartMenu"
									   Name="installed"
									   Type="integer"
									   Value="1"
									   KeyPath="yes"/>
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<!-- Registry entry to associate .link files -->
		<Component Id="RegistryEntries" Guid="7cd45b2d-2721-4353-9a8c-f95d0e1392cd" Directory="INSTALLFOLDER">
			<RegistryValue Root="HKCU" Key="Software\YourAppName" Name="RegistryEntriesInstalled" Type="integer" Value="1" KeyPath="yes" />
			<RegistryKey Root="HKCR" Key=".link">
				<RegistryValue Type="string" Value="YourAppName" />
			</RegistryKey>
			<RegistryKey Root="HKCR" Key="OpenLinks\shell\open\command">
				<RegistryValue Type="string" Value="[INSTALLFOLDER]YourApp.exe &quot;%1&quot;" />
			</RegistryKey>
		</Component>

		<Feature Id="MainApplication" Title="Main Application" Level="1">
			<ComponentRef Id="YourAppExe" />
			<ComponentRef Id="RegistryEntries" />
			<ComponentRef Id="RemoveApplicationProgramsFolder" />
		</Feature>
	</Product>
</Wix>
